In [1]:
# Dependencies
import csv
import pandas as pd

In [13]:
# Read CSV and convert to JavaScript data
js_data = []
with open('../../../Resources/global air pollution dataset.csv', 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        js_data.append(row)

In [11]:
# Generate JavaScript code
js_code = "var data = " + str(js_data) + ";"

In [12]:
# Write JavaScript code to a file
with open('data.js', 'w') as jsfile:
    jsfile.write(js_code)

In [16]:
# Read global air polution dataset.csv and convert to JavaScript data
csv_data = []
with open('../../../Resources/global air pollution dataset.csv', 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        csv_data.append(row)

In [20]:
# Read coordinates.csv and create a dictionary with city as key
coordinates = {}
with open('../../../Resources/worldcities.csv', 'r') as coordfile:
    reader = csv.DictReader(coordfile)
    for row in reader:
        city = row['city']
        coordinates[city] = {
            "lat": float(row['lat']),
            "lng": float(row['lng'])
        }

In [21]:
# Merge data with coordinates
merged_data = []
for item in csv_data:
    city = item['City']
    if city in coordinates:
        item['Latitude'] = coordinates[city]['lat']
        item['Longitude'] = coordinates[city]['lng']
        merged_data.append(item)

In [22]:
# Generate JavaScript code
js_code = "var data = " + str(merged_data) + ";"

In [23]:
# Write JavaScript code to a file
with open('merged_data.js', 'w') as jsfile:
    jsfile.write(js_code)

# Filtered dataset by cities to make it shorter

In [3]:
#City coordinates

City_Fidel = pd.read_csv("../../../Resources/city_coordinates.csv")
City_Fidel = City_Fidel.rename(columns={'lat':'latitude', 'lon':'longitude', 'city':'City'})
City_Fidel

            City  latitude  longitude
0          Paris   48.8534     2.3488
1         London   51.5085    -0.1257
2      Barcelona   41.3888     2.1590
3        Beijing   39.9075   116.3972
4         Mumbai   19.0144    72.8479
5          Tokyo   35.6895   139.6917
6       New York   40.7143   -74.0060
7        Seattle   47.6062  -122.3321
8         Dallas   32.7668   -96.7836
9         Sydney  -33.8679   151.2073
10     Melbourne   28.0836   -80.6081
11         Cairo   30.0626    31.2497
12  Johannesburg  -26.2023    28.0436
13         Lagos    6.5833     3.7500
14     Sao Paulo  -23.5475   -46.6361
15  Buenos Aires  -34.6132   -58.3772
16        Bogota    4.6097   -74.0817

In [51]:
#Global Air Pollution

Glob_AP_Nat = pd.read_csv("../../../Resources/global air pollution dataset.csv")
Glob_AP_Nat = pd.merge(City_Fidel, Glob_AP_Nat, on='City')
Glob_AP_Nat

,City,latitude,longitude,Country,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Paris,48.8534,2.3488,France,72,Moderate,1,Good,24,Good,3,Good,72,Moderate
1,London,51.5085,-0.1257,United Kingdom of Great Britain and Northern I...,40,Good,1,Good,11,Good,11,Good,40,Good
2,Barcelona,41.3888,2.1590,Venezuela (Bolivarian Republic of),163,Unhealthy,4,Good,8,Good,8,Good,163,Unhealthy
3,Tokyo,35.6895,139.6917,Japan,79,Moderate,1,Good,28,Good,17,Good,79,Moderate
4,New York,40.7143,-74.0060,NaN,70,Moderate,2,Good,20,Good,18,Good,70,Moderate
5,Seattle,47.6062,-122.3321,United States of America,36,Good,1,Good,31,Good,5,Good,36,Good
6,Dallas,32.7668,-96.7836,United States of America,70,Moderate,2,Good,34,Good,5,Good,70,Moderate
7,Sydney,-33.8679,151.2073,Australia,42,Good,0,Good,15,Good,14,Good,42,Good
8,Melbourne,28.0836,-80.6081,United States of America,39,Good,1,Good,22,Good,6,Good,39,Good
9,Cairo,30.0626,31.2497,Egypt,81,Moderate,2,Good,53,Moderate,5,Good,81,Moderate
10,Johannesburg,-26.2023,28.0436,South Africa,121,Unhealthy for Sensitive Groups,19,Good,19,Good,13,Good,121,Unhealthy for Sensitive Groups
11,Lagos,6.5833,3.7500,NaN,172,Unhealthy,7,Good,17,Good,9,Good,172,Unhealthy
12,Sao Paulo,-23.5475,-46.6361,Brazil,198,Unhealthy,10,Good,0,Good,35,Good,198,Unhealthy
13,Buenos Aires,-34.6132,-58.3772,Mexico,43,Good,1,Good,28,Good,0,Good,43,Good
14,Bogota,4.6097,-74.0817,Colombia,75,Moderate,2,Good,4,Good,8,Good,75,Moderate

In [52]:
# Rename columns
new_column_names = {'longitude': 'Longitude', 'latitude': 'Latitude'}
Glob_AP_Nat.rename(columns=new_column_names, inplace=True)

# Display the DataFrame
Glob_AP_Nat

,City,Latitude,Longitude,Country,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Paris,48.8534,2.3488,France,72,Moderate,1,Good,24,Good,3,Good,72,Moderate
1,London,51.5085,-0.1257,United Kingdom of Great Britain and Northern I...,40,Good,1,Good,11,Good,11,Good,40,Good
2,Barcelona,41.3888,2.1590,Venezuela (Bolivarian Republic of),163,Unhealthy,4,Good,8,Good,8,Good,163,Unhealthy
3,Tokyo,35.6895,139.6917,Japan,79,Moderate,1,Good,28,Good,17,Good,79,Moderate
4,New York,40.7143,-74.0060,NaN,70,Moderate,2,Good,20,Good,18,Good,70,Moderate
5,Seattle,47.6062,-122.3321,United States of America,36,Good,1,Good,31,Good,5,Good,36,Good
6,Dallas,32.7668,-96.7836,United States of America,70,Moderate,2,Good,34,Good,5,Good,70,Moderate
7,Sydney,-33.8679,151.2073,Australia,42,Good,0,Good,15,Good,14,Good,42,Good
8,Melbourne,28.0836,-80.6081,United States of America,39,Good,1,Good,22,Good,6,Good,39,Good
9,Cairo,30.0626,31.2497,Egypt,81,Moderate,2,Good,53,Moderate,5,Good,81,Moderate
10,Johannesburg,-26.2023,28.0436,South Africa,121,Unhealthy for Sensitive Groups,19,Good,19,Good,13,Good,121,Unhealthy for Sensitive Groups
11,Lagos,6.5833,3.7500,NaN,172,Unhealthy,7,Good,17,Good,9,Good,172,Unhealthy
12,Sao Paulo,-23.5475,-46.6361,Brazil,198,Unhealthy,10,Good,0,Good,35,Good,198,Unhealthy
13,Buenos Aires,-34.6132,-58.3772,Mexico,43,Good,1,Good,28,Good,0,Good,43,Good
14,Bogota,4.6097,-74.0817,Colombia,75,Moderate,2,Good,4,Good,8,Good,75,Moderate

In [53]:
# Convert DataFrame to a JSON-like string
json_data = Glob_AP_Nat.to_json(orient='records')

# Create a JavaScript code
js_code = f"var data = {json_data};"

# Write JavaScript code to a .js file
with open('Glob_AP_Nat.js', 'w') as js_file:
    js_file.write(js_code)