In [1]:
# pip install datapackage

In [2]:
# pip install pygwalker

In [3]:
## Web source method

# import dependencies
# import datapackage
# import pandas as pd
# import pygwalker as pyg


# data_url = 'https://datahub.io/core/sea-level-rise/datapackage.json'

# # to load Data Package into storage
# package = datapackage.Package(data_url)

# # to load only tabular data
# resources = package.resources
# for resource in resources:
#     if resource.tabular:
#         data = pd.read_csv(resource.descriptor['path'])
#         print (data)

In [4]:
## CSV method

#import dependencies & setup
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


# file to load 
epa_sea_level_to_load = Path("Resources/epa-sea-level.csv")

# read CSV
sea_level_data = pd.read_csv(epa_sea_level_to_load)

# convert to pandas df
sea_level_df = pd.DataFrame(sea_level_data)
# sea_level_df.head()

### CSIRO (Commonwealth Scientific and Industrial Research Organization) Data 
 This data contains “cumulative changes in sea level for the world’s oceans since 1880, based on a combination of long-term tide gauge measurements and recent satellite measurements. It shows average absolute sea level change, which refers to the height of the ocean surface, regardless of whether nearby land is rising or falling. The data is recorded in inches.

In [5]:
sea_level_df.head()

,Year,CSIRO Adjusted Sea Level (in),Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level (in)
0,3/15/1880,0.000000,-0.952756,0.952756,NaN
1,3/15/1891,0.220472,-0.732283,1.173228,NaN
2,3/15/1892,-0.440945,-1.346457,0.464567,NaN
3,3/15/1893,-0.232283,-1.129921,0.665354,NaN
4,3/15/1894,0.590551,-0.283465,1.464567,NaN

In [6]:
years_count = sea_level_df['Year'].value_counts()
years_count

3/15/1892    2
3/15/1893    2
3/15/1894    2
3/15/1895    2
3/15/1896    2
            ..
3/15/1932    1
3/15/1931    1
3/15/1930    1
3/15/1929    1
3/15/2014    1
Name: Year, Length: 126, dtype: int64

## Statistical Analysis