In [1]:
# pip install datapackage

In [2]:
# pip install pygwalker

In [3]:
## Web source method

# import dependencies
# import datapackage
# import pandas as pd
# import pygwalker as pyg


# data_url = 'https://datahub.io/core/sea-level-rise/datapackage.json'

# # to load Data Package into storage
# package = datapackage.Package(data_url)

# # to load only tabular data
# resources = package.resources
# for resource in resources:
#     if resource.tabular:
#         data = pd.read_csv(resource.descriptor['path'])
#         print (data)

In [1]:
## CSV method

#import dependencies & setup
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


# file to load 
historical_sea_level_to_load = Path("../../Resources/sea-level-rise-historical.csv")
predictions_sea_level_to_load = Path("../../Resources/sea-level-rise-predictions.csv")

# read CSV
sealevelrise_data_historical = pd.read_csv(historical_sea_level_to_load)
sealevelrise_data_predictions = pd.read_csv(predictions_sea_level_to_load)

# convert to pandas df
slr_data_historical = pd.DataFrame(sealevelrise_data_historical)
slr_data_predictions = pd.DataFrame(sealevelrise_data_predictions)

### CSIRO (Commonwealth Scientific and Industrial Research Organization) Data 
 This data contains “cumulative changes in sea level for the world’s oceans since 1880, based on a combination of long-term tide gauge measurements and recent satellite measurements. It shows average absolute sea level change, which refers to the height of the ocean surface, regardless of whether nearby land is rising or falling. The data is recorded in centimeters.

In [3]:
# historical global avg sea level rise in cm
slr_data_historical.head()

,Year,CSIRO - Adjusted sea level (cm),CSIRO - Lower error bound (cm),CSIRO - Upper error bound (cm),NOAA - Adjusted sea level (cm)
0,1880,0.00,-2.42,2.42,NaN
1,1881,0.56,-1.86,2.98,NaN
2,1882,-1.12,-3.42,1.18,NaN
3,1883,-0.59,-2.87,1.69,NaN
4,1884,1.50,-0.72,3.72,NaN

In [4]:
# predicted global avg sea level rise in cm
slr_data_predictions.head()

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),RSL in 2000 (cm),RSL in 2010 (cm),RSL in 2020 (cm),RSL in 2030 (cm),RSL in 2040 (cm),RSL in 2050 (cm),RSL in 2060 (cm),RSL in 2070 (cm),RSL in 2080 (cm),RSL in 2090 (cm),RSL in 2100 (cm),RSL in 2120 (cm),RSL in 2150 (cm),RSL in 2200 (cm)
0,GMSL,0,NaN,NaN,0.3 - MED,0.0,0,3,6,9,13,16,19,22,25,28,30,34.0,37.0,39.0
1,GMSL,0,NaN,NaN,0.3 - LOW,0.0,0,3,5,9,12,15,18,21,24,26,29,30.0,32.0,29.0
2,GMSL,0,NaN,NaN,0.3 - HIGH,0.0,0,3,6,10,13,17,20,23,26,28,31,42.0,51.0,67.0
3,GMSL,0,NaN,NaN,0.5 - MED,0.0,0,4,8,13,18,24,29,35,40,45,50,60.0,73.0,95.0
4,GMSL,0,NaN,NaN,0.5 - LOW,0.0,0,3,7,12,16,22,27,33,38,44,49,56.0,66.0,77.0

## Statistical Analysis