In [1]:
#API Call of Global Warming CO2
import requests
import json
import pandas as pd
import csv
import os
import matplotlib.pyplot as plt

In [ ]:
# Make API Call and Get JSON Data
url = 'https://global-warming.org/api/co2-api'

co2_response = requests.get(url)

print(co2_response.json())

In [ ]:
if co2_response.status_code == 200:
    data = co2_response.json()
else:
    print("Failed to fetch data from the API.")
    exit()

In [ ]:
# Save JSON to a File
with open('data.json', 'w') as json_file:
    json.dump(data, json_file)

In [ ]:
# Read JSON Data
with open('data.json', 'r') as json_file:
    data = json.load(json_file)

In [ ]:
data

In [ ]:
# Convert JSON to CSV
csv_data = []
for item in data['co2']:
    csv_data.append([item['year'], item['month'], item['day'], item['cycle'], item['trend']])
    #print (item)

In [ ]:
# Write CSV to "resources" Folder
# Define the CSV file
csv_file_path = os.path.join('../../Resources/co2_data.csv')

with open(csv_file_path, 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow(['year', 'month', 'day', 'cycle', 'trend'])
    csv_writer.writerows(csv_data)

print(f'CSV file saved to: {csv_file_path}')

In [2]:
# Open and Read CSV File
co2_data_csv_file_path = '../../resources/co2_data.csv'

co2_data_frame = pd.read_csv(co2_data_csv_file_path)
co2_data_frame

      year  month  day   cycle   trend
0     2013      2    6  396.08  394.55
1     2013      2    7  396.10  394.55
2     2013      2    8  396.12  394.56
3     2013      2    9  396.14  394.57
4     2013      2   10  396.16  394.58
...    ...    ...  ...     ...     ...
3843  2023      8   16  415.79  419.53
3844  2023      8   17  415.73  419.54
3845  2023      8   18  415.68  419.54
3846  2023      8   19  415.63  419.55
3847  2023      8   20  415.57  419.56

[3848 rows x 5 columns]

In [ ]:
# Plotting the trend by date
co2_data_frame['trend'].plot(figsize=(10, 6))
plt.title('CO2 Levels Trend 2013-2023')
plt.xlabel('Time (days)')
plt.ylabel('Trend')
plot_file_path = 'co2byday_plot.png'
plt.savefig(plot_file_path)
plt.show()

In [ ]:
# Group data by year and perform aggregation (e.g., calculate mean)
co2_grouped_by_year = co2_data_frame.groupby('year').mean()

# Display the grouped data
print(co2_grouped_by_year)

In [ ]:
# Plotting the trend by date
co2_grouped_by_year['trend'].plot(figsize=(10, 6))
plt.title('Trend by Date')
plt.xlabel('Year')
plt.ylabel('Trend')
plot_file_path = 'co2byyear_plot.png'
plt.savefig(plot_file_path)
plt.show()

In [ ]:
# Select specific columns
selected_columns = co2_data_frame[['month','trend']]

print(selected_columns)

In [ ]:
# Select data from a specific year (e.g., 2020)
data_from_year_reset_index = selected_columns.reset_index()

print(data_from_year_reset_index)

In [ ]:
year_to_select = 2020
data_from_year_2020 = data_from_year_reset_index[data_from_year_reset_index['year'] == year_to_select]

print(data_from_year_2020)

In [ ]:
co22020bymonth = data_from_year_2020.groupby('month').mean()

In [ ]:
# Plotting the trend by month in 2020
co22020bymonth['trend'].plot(figsize=(10, 6))
plt.title('Trend by month in 2020')
plt.xlabel('Month')
plt.ylabel('Trend')
plot_file_path = 'co2_2020_month_plot.png'
plt.savefig(plot_file_path)
plt.show()

In [ ]:
# Convert the year, month, and day columns into a single datetime column:

co2_data_frame['date']= pd.to_datetime(co2_data_frame[['year', 'month', 'day']])

In [ ]:
# Set the newly created datetime column as the index of your DataFrame:
co2_data_frame.set_index('date', inplace=True)

In [ ]:
# Plot the desired value over time using Matplotlib:

# Create a custom formatted date string for y-axis labels
co2_data_frame['formatted_date'] = co2_data_frame.index.strftime('%Y-%m-%d')

plt.figure(figsize=(10, 6))
plt.plot(co2_data_frame.index, co2_data_frame['trend'], marker='o', linestyle='-', color='purple', linewidth=2)
plt.title('Progression of CO2 values Over Time')
plt.xlabel('Date')
plt.ylabel('Value')
plt.xticks(rotation=90)
#plt.xticks(co2_data_frame.index, co2_data_frame['formatted_date'])
#plt.yticks(co2_data_frame['trend'])
plt.grid(False)
plt.tight_layout()
plot_file_path = 'co2_dprogressionnotgrouped_plot.png'
plt.savefig(plot_file_path)
plt.show()

# Clean CO2 dataset to print in dashboard

In [3]:
co2_data_frame

      year  month  day   cycle   trend
0     2013      2    6  396.08  394.55
1     2013      2    7  396.10  394.55
2     2013      2    8  396.12  394.56
3     2013      2    9  396.14  394.57
4     2013      2   10  396.16  394.58
...    ...    ...  ...     ...     ...
3843  2023      8   16  415.79  419.53
3844  2023      8   17  415.73  419.54
3845  2023      8   18  415.68  419.54
3846  2023      8   19  415.63  419.55
3847  2023      8   20  415.57  419.56

[3848 rows x 5 columns]

NameError: name 'csv_data' is not defined