In [1]:
# Dependencies
import requests
import json
import pandas as pd
import csv
import os

In [4]:
# Open and Read CSV File
aq_data_csv_file_path = '../../resources/aq_data.csv'

aq_data_frame = pd.read_csv(aq_data_csv_file_path)
aq_data_frame

,id,city,name,country,parameters
0,62480,NaN,Kalmia,US,"[{'id': 2, 'unit': 'µg/m³', 'count': 57144, 'a..."
1,62492,NaN,"Sutter Creek, Ridge Rd",US,"[{'id': 128, 'unit': 'f', 'count': 42872, 'ave..."
2,62932,NaN,MASUK-ANGIN,US,"[{'id': 125, 'unit': 'particles/cm³', 'count':..."
3,63284,NaN,Troon Avenue,US,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."
4,63497,NaN,The Syndicate Homebase,US,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."
...,...,...,...,...,...
95,748501,NaN,Venue Apts nw side upper floor,US,"[{'id': 128, 'unit': 'f', 'count': 43122, 'ave..."
96,815770,NaN,UEA_EducAIR_7,BR,"[{'id': 132, 'unit': 'mb', 'count': 18331, 'av..."
97,921732,NaN,CleanAIRE NC Newell,NO,"[{'id': 2, 'unit': 'µg/m³', 'count': 57526, 'a..."
98,1060885,NaN,LAWD 1,NO,"[{'id': 19, 'unit': 'µg/m³', 'count': 41229, '..."
99,1066313,NaN,RSD - Educational Service Center,NO,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."