In [2]:
# Dependencies
import requests
import json
import pandas as pd
import csv
import os

In [3]:
# Open and Read CSV File
aq_data_csv_file_path = '../../resources/aq_data.csv'

aq_data_frame = pd.read_csv(aq_data_csv_file_path)
aq_data_frame

,id,city,name,country,parameters
0,62480,NaN,Kalmia,US,"[{'id': 2, 'unit': 'µg/m³', 'count': 57144, 'a..."
1,62492,NaN,"Sutter Creek, Ridge Rd",US,"[{'id': 128, 'unit': 'f', 'count': 42872, 'ave..."
2,62932,NaN,MASUK-ANGIN,US,"[{'id': 125, 'unit': 'particles/cm³', 'count':..."
3,63284,NaN,Troon Avenue,US,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."
4,63497,NaN,The Syndicate Homebase,US,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."
...,...,...,...,...,...
95,748501,NaN,Venue Apts nw side upper floor,US,"[{'id': 128, 'unit': 'f', 'count': 43122, 'ave..."
96,815770,NaN,UEA_EducAIR_7,BR,"[{'id': 132, 'unit': 'mb', 'count': 18331, 'av..."
97,921732,NaN,CleanAIRE NC Newell,NO,"[{'id': 2, 'unit': 'µg/m³', 'count': 57526, 'a..."
98,1060885,NaN,LAWD 1,NO,"[{'id': 19, 'unit': 'µg/m³', 'count': 41229, '..."
99,1066313,NaN,RSD - Educational Service Center,NO,"[{'id': 129, 'unit': 'particles/cm³', 'count':..."

In [4]:
split_values = aq_data_frame['parameters'].str.split(',', expand=True)
split_values

,0,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
0,[{'id': 2,'unit': 'µg/m³','count': 57144,'average': 7.873342477184909,'lastValue': 4.7,'parameter': 'pm25','displayName': 'pm25 µg/m³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 2,'firstUpdated': '2023-05-08T00:12:18+00:00',...,None,None,None,None,None,None,None,None,None,None
1,[{'id': 128,'unit': 'f','count': 42872,'average': 76.9599741588224,'lastValue': 82.0,'parameter': 'temperature','displayName': 'temperature f','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 128,'firstUpdated': '2023-05-23T18:00:26+00:00',...,None,None,None,None,None,None,None,None,None,None
2,[{'id': 125,'unit': 'particles/cm³','count': 43338,'average': 6.884113613718417,'lastValue': 11.6,'parameter': 'um003','displayName': 'um003 particles/cm³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 125,'firstUpdated': '2023-05-23T17:58:13+00:00',...,None,None,None,None,None,None,None,None,None,None
3,[{'id': 129,'unit': 'particles/cm³','count': 43715,'average': 0.007072006900571081,'lastValue': 0.01,'parameter': 'um050','displayName': 'um050 particles/cm³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 129,'firstUpdated': '2023-05-23T18:00:41+00:00',...,None,None,None,None,None,None,None,None,None,None
4,[{'id': 129,'unit': 'particles/cm³','count': 42711,'average': 0.0005187436091889194,'lastValue': 0.04,'parameter': 'um050','displayName': 'um050 particles/cm³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 129,'firstUpdated': '2023-05-23T17:29:30+00:00',...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,[{'id': 128,'unit': 'f','count': 43122,'average': 79.62418520534045,'lastValue': 90.0,'parameter': 'temperature','displayName': 'temperature f','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 128,'firstUpdated': '2023-05-23T18:00:19+00:00',...,None,None,None,None,None,None,None,None,None,None
96,[{'id': 132,'unit': 'mb','count': 18331,'average': 1004.1351134172015,'lastValue': 999.69,'parameter': 'pressure','displayName': 'pressure mb','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 132,'firstUpdated': '2023-05-31T15:45:13+00:00',...,None,None,None,None,None,None,None,None,None,None
97,[{'id': 2,'unit': 'µg/m³','count': 57526,'average': 18.485256691490022,'lastValue': 17.8,'parameter': 'pm25','displayName': 'pm25 µg/m³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 2,'firstUpdated': '2023-05-08T00:06:13+00:00',...,'unit': 'particles/cm³','count': 45045,'average': 32.05801472671032,'lastValue': 23.77,'parameter': 'um003','displayName': 'um003 particles/cm³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 125,'firstUpdated': '2023-05-23T18:00:22+00:00','manufacturers': None}]
98,[{'id': 19,'unit': 'µg/m³','count': 41229,'average': 18.801247617287366,'lastValue': 20.2,'parameter': 'pm1','displayName': 'pm1 µg/m³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 19,'firstUpdated': '2023-06-02T13:29:30+00:00',...,None,None,None,None,None,None,None,None,None,None
99,[{'id': 129,'unit': 'particles/cm³','count': 23413,'average': 0.012349540412660178,'lastValue': 0.02,'parameter': 'um050','displayName': 'um050 particles/cm³','lastUpdated': '2023-08-22T01:24:22+00:00','parameterId': 129,'firstUpdated': '2023-06-07T18:33:54+00:00',...,None,None,None,None,None,None,None,None,None,None